*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

a:hover{
    background-color: #C17D3E;
    text-decoration: none;
    color: wheat;
    transform: scale(1.2);
}

 .profil,
 .att,
 .prj,
 .btn{
  position: absolute;
  top: 10%;
  left: 35%;
   border: 3px solid #EBA8D5;
  background-color: #7BA6C6;
  text-align: center;
  width: 130px;
  height: 50px;
  border-radius: 50px;
  color: #fffafc;
  font-size: 30px;
  font-family: cursive;
}

.pageAtt{
  left: 15%;
}

.projets{
  left: 57%;
}

.contact{
  left: 80%;
}

.titre{
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  color: #6a1b50;
  font-size: 40px;
  font-family: cursive;
}

.sousTitre{
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  color: #6a1b50;
  font-family: cursive;
  font-size: 19px;
  font-style: italic;
}

