*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #9c699dd9;
}

#logoNav{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
}

.anime{
    position: absolute;
    top: 210px;
    left: 50px;
    width: 283px;
    height: 425px;
    border-radius: 141.5px;
}

.aPropos,
.appt{
    position: absolute;
    top: 190px;
    left: 710px;
    border: 3px solid #7BA6C6;
    background-color: #EBA8D5;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.premierText,
.snd{
    position: absolute;
    top: 300px;
    left: 430px;
    text-align: justify;
    margin-right: 30px;
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px;
    background-color: #7BA6C6;
    border-radius: 10px;
}

.apporter{
    top: 670px;
    left: 665px;
    width: 400px;
}

.secondText{
    top: 750px; 
}

#logofooter {
  height: 50px;
  width: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 14px;
  margin-top: 920px;
  color: azure;
  font-style: italic;
}

.social-links {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 880px;
  gap: 25px;
  font-family: 'Italiana', serif;
  font-style: italic;
}

.social-links a {
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 25px;
}

.social-links a:hover {
  color: #C17D3E;
  background-color: #7BA6C6;
  border-radius: 40px;
}