*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #8dafc9;
}

#logoNav{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
}

.titreProjet{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px; 
  /* background-color: rgba(120, 50, 110, 0.5); fond pastel semi-transparent */
  /* border: 3px solid wheat;
  background-color: #C17D3E; */
  text-align: center;
  border-radius: 20px;
  color: #fffafc;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}

.projet1{
    position: absolute;
    top: 45%;
    left: 0.5%;
    width: 680px;
    height: 440px;
    border-radius: 10px;
}

.descriptionTitre{
    position: absolute;
    top: 45%;
    left: 60%;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}

.descriptionP1{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    text-align: justify;
    margin: 30px;
}

.projet2{
    position: absolute;
    top: 120%;
    right: 0.5%;
    width: 680px;
    height: 440px;
    border-radius: 10px;
}

.descriptionTitre2{
    position: absolute;
    top: 120%;
    left: 20%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.description2{
    position: absolute;
    top: 122%;
    left: 0.5px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    text-align: justify;
    margin: 30px;
}

.projet3{
    position: absolute;
    top: 195%;
    left: 0.5%;
    width: 680px;
    height: 440px;
    border-radius: 10px;
}

.descriptionTitre3{
    position: absolute;
    top: 195%;
    left: 60%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.description3{
    position: absolute;
    top: 195%;
    left: 45%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    text-align: justify;
    margin: 30px;
}

#logofooter {
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: small;
  margin-top: 1800px;
  color: azure;
  background-color: #72655a;
  font-style: italic;
}